/* Filter */
.crypto-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.crypto-count-selector, .crypto-input-selector {
    display: flex;
    align-items: center;
}

.crypto-count-selector label, .crypto-input-selector label {
    margin-right: 0.5rem;
    font-weight: bold;
}

.styled-select, .styled-input {
    padding: 0.5rem;
    border: 1px solid #007BFF;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.styled-select option, .styled-input::placeholder {
    color: white;
}

.styled-input::placeholder {
    opacity: 0.6;
}

/* Table */
.crypto-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #007BFF;
}

.crypto-table th, .crypto-table td {
    border: 1px solid #007BFF;
    padding: 8px;
    text-align: left;
}

.crypto-table th {
    background-color: #007BFF;
    color: white;
    padding: 12px;
}

.crypto-table tr {
    background-color: #374151;
    color: white;
}

.crypto-table tr:hover {
    background-color: #1e3a8a;
}

.crypto-table td {
    padding: 12px;
}